

.App {
  text-align: center;
}

.landingPage {
  background-image: url("./public/landingpage_bg.jpg");
  height: 100vh; 
  background-position: top; 
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100% !important;
  display: flex;
  align-items: center;
}
.col {
  justify-content: center;
  margin: 0 auto;
}

.cardbottom {
  display: flex;
  flex-flow: column nowrap;
}