

.App {
  text-align: center;
}

 /* landing page */
.landingPage {
  background-image: url("./public/landingpage_bg.jpg");
  height: 100vh; 
  background-position: top; 
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100% !important;
  display: flex;
  align-items: center;
}
.col {
  justify-content: center;
  margin: 0 auto;
}

.cardbottom {
  display: flex;
  flex-flow: column nowrap;
}

/* navbar */
.header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  justify-content: space-around;
  background-image: url("./public/banner_bg.jpg");
  height: 60vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
